@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.alert-msg {
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: rgb(255, 236, 211);
  border: 1px solid rgb(252, 226, 193);
  display: flex;
  place-items: center;
  gap: 5px;
  font-size: 0.9rem;
}